@import url("https://fonts.googleapis.com/css2?family=Abril+Nunito+Fatface&display=swap");

.main {
  background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)), url("../../public/loginBackground.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.form {
  font-family: "Abril Fatface", serif;
  background-color: rgba(255, 255, 255, 0.407);
  padding: 4vw;
  display: grid;
  grid-template-columns: 9fr 1fr 9fr;
  height: 65vh;
  width: 50vw;
  border-radius: 20px;
}
.form ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form ul li {
  border: none;
  width: 80%;
}
.form ul li input {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  width:100%;
  border-bottom: 1px solid white;
}
.line {
  height: 80%;
  width: 0.2%;
  background-color: white;
  box-sizing: border-box;
  align-self: center;
}
.credentials {
  align-self: left;
  padding-bottom: 3vh;
}
.credentials button {
  background-color: rgba(255, 255, 255, 0.609);
  border-radius: 15px;
  width: fit-content;
  padding: 1vh 3vw 1vh 3vw;
  align-self: center;
}
.text {
  padding: 4vw;
  align-self: center;
  font-size: 25px;

  color: white;
}
.form ul li input::placeholder {
  color: rgba(255, 255, 255, 0.692);
}
.options{
 align-self: center;
}

.options ul li {
  border: none;
  font-size: 15px;
  color: white;
}

.form ul li input:focus {
  outline: none; /* Remove the default outline */
}

.form ul li div{
  color: rgb(177 0 0 / 75%);
  font-family: 'Nunito',sans-serif;
  font-size: 13px;
}