.main {
  width: 100%;
  height: 60vh;
  background: transparent;
}

.innerClass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  overflow-x: auto;
  
  cursor: pointer; /* Added cursor pointer for better UX */
}

.imageClass {
  height: 40vh;
  width: 50vw;
}

.bigImageClass {
  height: 50vh;
  width: 60vw;
  /* transition: transform 6s ease-in-out; */
  transition: all 0.5s ease-in-out
}

/* .imageClass:hover,
.bigImageClass:focus {
  background-color: #fff;
  color: #333;
} */

.innerClass::-webkit-scrollbar {
  display: none;
}