@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@600&family=Nunito&display=swap");

.main {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    186deg,
    rgba(255, 255, 255, 0.20441118341867992) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  color: white;
  height: 25vw;
  margin-bottom: 50px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
}
.image {
  height: 25vw;
  width: 70vw;
  border-radius: 20px 5px 5px 20px;
}
.images {
  height: inherit;
  overflow-y: auto;
  width: 22vw;
  scrollbar-width: none;
}
.images img {
  height: 6vw;
  width: 8.5vw;
  margin: 4px;
  border-radius: 10px;
}
.mainImage{
  height: 25vw;
  width: 70vw;
  z-index:1;
}
.images::-webkit-scrollbar {
  display: none;
}
.moveBottom {
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
}
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}
.name h1 {
  font-family: "Abril Fatface", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.address ul {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.addText {
  font-size: 25px;
}

.Services ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.bill {
  align-self: flex-end;
  font-size: 190%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.bill button {
  justify-self: flex-end;
  margin-right: 20px;
  font-size: 80%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 3px 25px 3px 25px;
  color: black;
  background-color: #d9d9d9;
  margin-right: 80px;
}

/* Hide the scrollbar on Firefox */
