@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mali:wght@600&display=swap');

.mainClass {
    position: relative;
  
  }
  
  .imageClases {
    height: 80vh;
    width: 100%;
    opacity: 70%;
  }
  .title {
    font-family: "lobster";
    position: absolute;
    left: 36vw;
    top: 18vh;
    color: white;
    font-size: 64px;
  }
  .description {
    color: white;
    font-family: "Mali";
    position: absolute;
    left: 40vw;
    top: 37vh;
    color: white;
    font-size: 13px;
    height:30px;
    width: 390px;
    font-weight: lighter;
    text-align: center;
  }
  .changeDots{
      position: absolute;
      left: 50vw;
      top: 70vh;
  }