
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mali:wght@600&display=swap');

  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Abril+Fatface&display=swap");
  
.mainClass {
  position: relative;

}

.imageClases {
  height: 80vh;
  width: 100%;
  opacity: 70%;
}
.title {
  font-family: "lobster";
  position: absolute;
  left: 36vw;
  top: 18vh;
  color: white;
  font-size: 64px;
}
.description {
  color: white;
  font-family: "Mali";
  position: absolute;
  left: 40vw;
  top: 37vh;
  color: white;
  font-size: 13px;
  height:30px;
  width: 390px;
  font-weight: lighter;
  text-align: center;
}
.changeDots{
    position: absolute;
    left: 50vw;
    top: 70vh;
}

.main {
  margin: 3rem auto;
  width: 100%;
  max-width: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  gap: 10vh;

}

.destHeader {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .destHeader {
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2vh;
  }
}
.numbers{
  align-self: center;
  display:flex;
  flex-direction: row;
  gap :400px;
  padding-bottom: 10vh;
 
}
.cont{
  color: white;
  font-size: 50px;
  font-family: "Abril Fatface", serif;
  display: flex;
  flex-direction: column;
}
.value {
  font-size: 65px;
  align-self: center;
}
.heading{

  font-size: 32px;
  align-self: center;
}
.comment{
  padding-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:7vw;
}

