.main{
   width: 100%;
   padding: 150px 250px 0 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap:100px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
}